/* Forms */

input[type="text"] {
    width: 300px;
    margin-left: 1%;
    margin-right: 1%;
}

/* Tables */

table {
  border: 1px solid black;
  table-layout: fixed;
  width: 925px;
}

th,
td {
  border: 1px solid black;
  width: 300px;
  overflow: hidden;
}

table tr th:nth-child(1) {
  width: 50px;
}

table tr th:nth-child(2) {
  width: 150px;
}
